[submodule "bundle/AutoComplPop"]
    path = bundle/AutoComplPop
    url = https://github.com/vim-scripts/AutoComplPop.git
    ignore = dirty
[submodule "bundle/FuzzyFinder"]
    path = bundle/FuzzyFinder
    url = https://github.com/vim-scripts/FuzzyFinder.git
    ignore = dirty
[submodule "bundle/L9"]
    path = bundle/L9
    url = https://github.com/vim-scripts/L9.git
    ignore = dirty
[submodule "bundle/NerdCommenter"]
    path = bundle/NerdCommenter
    url = https://github.com/vim-scripts/The-NERD-Commenter.git
    ignore = dirty
[submodule "bundle/TaskList"]
    path = bundle/TaskList
    url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/VOoM"]
    path = bundle/VOoM
    url = https://github.com/vim-scripts/VOoM.git
    ignore = dirty
[submodule "bundle/ack"]
    path = bundle/ack
    url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/buftabs"]
    path = bundle/buftabs
    url = https://github.com/vim-scripts/buftabs.git
    ignore = dirty
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/jslint"]
    path = bundle/jslint
    url = https://github.com/hallettj/jslint.vim.git
    ignore = dirty
[submodule "bundle/NerdTree"]
    path = bundle/NerdTree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/nerdtree-tabs"]
    path = bundle/nerdtree-tabs
    url = https://github.com/jistr/vim-nerdtree-tabs.git
    ignore = dirty
[submodule "bundle/python-mode"]
    path = bundle/python-mode
    url = git://github.com/klen/python-mode.git
    ignore = dirty
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/tabman"]
    path = bundle/tabman
    url = https://github.com/kien/tabman.vim.git
    ignore = dirty
[submodule "bundle/taglist"]
    path = bundle/taglist
    url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "bundle/vim-shell"]
    path = bundle/vim-shell
    url = https://github.com/xolox/vim-shell.git
    ignore = dirty
[submodule "bundle/slime"]
    path = bundle/slime
    url = https://github.com/jpalardy/vim-slime.git
    ignore = dirty
[submodule "bundle/zencoding"]
    path = bundle/zencoding
    url = http://github.com/mattn/zencoding-vim.git
    ignore = dirty
[submodule "bundle/calendar"]
    path = bundle/calendar
    url = https://github.com/mattn/calendar-vim.git
    ignore = dirty
[submodule "bundle/vim-easytags"]
    path = bundle/vim-easytags
    url = https://github.com/xolox/vim-easytags.git
    ignore = dirty
[submodule "bundle/utl"]
    path = bundle/utl
    url = https://github.com/vim-scripts/utl.vim.git
    ignore = dirty
[submodule "bundle/gundo"]
    path = bundle/gundo
    url = http://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/vimchat"]
    path = bundle/vimchat
    url = https://github.com/ironcamel/vimchat.git
    ignore = dirty
[submodule "bundle/VIP"]
    path = bundle/VIP
    url = https://github.com/dradtke/VIP.git
    ignore = dirty
[submodule "bundle/writebackup"]
    path = bundle/writebackup
    url = https://github.com/vim-scripts/writebackup.git
    ignore = dirty
[submodule "bundle/vim-bufsurf"]
	path = bundle/vim-bufsurf
	url = https://github.com/ton/vim-bufsurf.git
