" =====================================================
" local settings for vim
" edit and move to ~/.vimrc.local for automatic include
" =====================================================

" =========
" vim-notes
" =========

" change as you need

let g:notes_directories = ['~/vim-notes',]
let g:notes_tab_indents = 0
let g:notes_tagsindex   = '~/vim-notes-tags'

" =========
" powerline
" =========

" to use fancy symbols for powerline, uncomment the following line and use a
" patched font (more info: https://powerline.readthedocs.org/en/latest/index.html)

"let g:Powerline_symbols = 'fancy'

